<html>
<head>
<style>
body
{
background-color:#b0c4de;
}
h1 {color :red;}
</style>
</head>

<body>
<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</body>
</html>