<html>
<head>
<style>
body
{
background-color:#b0c4de;
}
h1 {color :red;}
</style>
<marquee  behavior="alternate"><h3>New Users Please provide details for Uploading Files .</h3></marquee>

</head>

<body>
<h1 align='center'>Upload File</h1>

<%= render 'form' %><br/>
<br/><br/>

<div class="create-button round"> <%= link_to 'Back', users_path %></div>
</body>
</html>