<html>
<head>
<style>
body
{
background-color:#b0c4de;
}
h1 {color :red;}
</style>
<marquee  behavior="scroll" direction="right" speed="medium"><h3>New Users Please provide details for Uploading Files .</h3></marquee>

</head>

<body>
<h1 align='center'>New user</h1>

<%= render 'form' %><br/>
<br/><br/>

<%= link_to 'Back', users_path %>

</body>
</html>